includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/pestphp/pest/extension.neon
    - vendor/pestphp/pest/phpstan-pest-extension.neon
    - vendor/phpstan/phpstan-mockery/extension.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon

parameters:
    universalObjectCratesClasses:
        - Pest\PendingCalls\TestCall
        - LibreNMS\Tests\TestCase

    phpVersion:
        min: 80200
        max: 80499

    paths:
        - app
        - bootstrap
        - config
        - database
        - LibreNMS
        - resources
        - routes
        - tests

    excludePaths:
        - tests/Unit/Data/KafkaDBStoreTest.php
        - LibreNMS/Data/Store/Kafka.php

    scanDirectories:
        - includes

    level: 5

    treatPhpDocTypesAsCertain: false

    checkFunctionNameCase: true
    checkInternalClassCaseSensitivity: true

    checkModelProperties: true
    noUnnecessaryEnumerableToArrayCalls: true

    ignoreErrors:
        - '#Unsafe usage of new static#'
        # Pest types $this inside test closures as TestCall, a runtime proxy to the
        # bound test case, so calls to test case methods cannot be resolved statically
        -
            message: '#^Call to an undefined method Pest\\#'
            path: tests
            reportUnmatched: false

    parallel:
        processTimeout: 300.0
